.content {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.activities_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
