<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.daruan.mapper.Activitymapper">
    <resultMap id="BaseResultMap" type="com.example.daruan.entity.Activity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="site" jdbcType="VARCHAR" property="site"/>
        <result column="number_people" jdbcType="INTEGER" property="number_people"/>
        <result column="deadline" jdbcType="TIMESTAMP" property="deadline"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>
        <result column="organizer" jdbcType="INTEGER" property="organizer"/>
        <result column="like" jdbcType="INTEGER" property="like"/>
        <result column="hate" jdbcType="INTEGER" property="hate"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="time_start" jdbcType="TIMESTAMP" property="time_start"/>
        <result column="time_end" jdbcType="TIMESTAMP" property="time_end"/>
        <result column="start" jdbcType="TIMESTAMP" property="start"/>
        <result column="already_register" jdbcType="INTEGER" property="already_register"/>
    </resultMap>
    <sql id="Base_Column_List">
        `id`, title, site, number_people, deadline, introduction, organizer, `like`, hate, `type`, time_start, time_end, start, already_register
    </sql>
    <select id="getallactivity" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from activity
    </select>
    <select id="notstart" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from activity
        where
        start <![CDATA[>]]>#{nowtime,jdbcType=TIMESTAMP}
    </select>
    <select id="register" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from activity
        where
        start <![CDATA[<=]]>#{nowtime,jdbcType=TIMESTAMP} and
        deadline <![CDATA[>=]]>#{nowtime,jdbcType=TIMESTAMP}
    </select>
    <select id="haventstart" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from activity
        where
        deadline <![CDATA[<]]>#{nowtime,jdbcType=TIMESTAMP} and
        time_start <![CDATA[>]]>#{nowtime,jdbcType=TIMESTAMP}
    </select>
    <select id="inprogress" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from activity
        where
        time_start <![CDATA[<=]]>#{nowtime,jdbcType=TIMESTAMP} and
        time_end <![CDATA[>=]]>#{nowtime,jdbcType=TIMESTAMP}
    </select>
    <select id="complete" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from activity
        where
        time_end <![CDATA[<]]>#{nowtime,jdbcType=TIMESTAMP}
    </select>
    <select id="queryactivity" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from activity
        where title=#{title,jdbcType=VARCHAR}
    </select>
    <insert id="newactivity" keyColumn="id" keyProperty="id" parameterType="com.example.daruan.entity.Activity"
     useGeneratedKeys="true">
        insert into activity(title, site, number_people, deadline, introduction, organizer, 
         time_start, time_end, start, already_register)
        values(#{title, jdbcType=VARCHAR}, #{site, jdbcType=VARCHAR}, #{number_people, jdbcType=INTEGER}, 
        #{deadline, jdbcType=TIMESTAMP}, #{introduction, jdbcType=VARCHAR}, #{organizer, jdbcType=INTEGER},
        #{time_start, jdbcType=TIMESTAMP}, #{time_end, jdbcType=TIMESTAMP}, #{start, jdbcType=TIMESTAMP},
        #{already_register, jdbcType=INTEGER})
    </insert>
    <update id="modactivity" parameterType="com.example.daruan.entity.Activity">
        update activity
        <set>
        <if test="title != null"> title = #{title, jdbcType=VARCHAR},</if>
        <if test="site != null"> site = #{site, jdbcType=VARCHAR},</if>
		<if test="number_people != null"> number_people = #{number_people, jdbcType=INTEGER},</if>
		<if test="deadline != null"> deadline = #{deadline, jdbcType=TIMESTAMP},</if>
		<if test="introduction != null"> introduction = #{introduction, jdbcType=VARCHAR},</if>
		<if test="time_start != null"> time_start = #{time_start, jdbcType=TIMESTAMP},</if>
		<if test="time_end != null"> time_end = #{time_end, jdbcType=TIMESTAMP},</if>
		<if test="start != null"> start = #{start, jdbcType=TIMESTAMP},</if>        
        </set>
        where organizer = #{organizer, jdbcType=INTEGER}
        	AND id = #{id, jdbcType=INTEGER}
    </update>
    <insert id="interactivity" keyColumn="id"  useGeneratedKeys="true">
        insert into useractivity set
        userid=#{userid, jdbcType=INTEGER}, actid=#{actid, jdbcType=INTEGER}
    </insert>
    <update id="registeractivity" parameterType="java.lang.Integer">
        update activity
        set already_register = already_register + 1
        where id = #{actid, jdbcType=INTEGER}
    </update>
    <delete id="quitactivity">
        delete from useractivity
        where userid=#{userid, jdbcType=INTEGER}
         AND actid=#{actid, jdbcType=INTEGER}
    </delete>
    <update id="deregisteractivity" parameterType="java.lang.Integer">
        update activity
        set already_register = already_register - 1
        where id = #{actid, jdbcType=INTEGER}
    </update>
    <delete id="cancelactivity" parameterType="java.lang.Integer">
        delete from activity
        where id=#{actid, jdbcType=INTEGER}
    </delete>
    <delete id="cancelregister" parameterType="java.lang.Integer">
        delete from useractivity
        where actid=#{actid, jdbcType=INTEGER}
    </delete>
    <select id="queryactbyid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    	select <include refid="Base_Column_List" />
        from activity
        where id=#{actid,jdbcType=INTEGER}
    </select>
</mapper>