<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.daruan.mapper.Usermapper">
    <resultMap id="BaseResultMap" type="com.example.daruan.entity.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="authority" jdbcType="VARCHAR" property="authority"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="major" jdbcType="VARCHAR" property="major"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="birth_date" jdbcType="DATE" property="birth_date"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="school" jdbcType="VARCHAR" property="school"/>
        <result column="grade" jdbcType="VARCHAR" property="grade"/>
    </resultMap>
    <resultMap id="ActivityResultMap" type="com.example.daruan.entity.Activity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="site" jdbcType="VARCHAR" property="site"/>
        <result column="number_people" jdbcType="INTEGER" property="number_people"/>
        <result column="deadline" jdbcType="TIMESTAMP" property="deadline"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>
        <result column="organizerid" jdbcType="INTEGER" property="organizerid"/>
        <result column="like" jdbcType="INTEGER" property="like"/>
        <result column="hate" jdbcType="INTEGER" property="hate"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="time_start" jdbcType="TIMESTAMP" property="time_start"/>
        <result column="time_end" jdbcType="TIMESTAMP" property="time_end"/>
        <result column="start" jdbcType="TIMESTAMP" property="start"/>
        <result column="already_register" jdbcType="INTEGER" property="already_register"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
    </resultMap>
    <sql id="Base_Column_List">
        `id`, username, `password`, authority, sex, phone, major, email, birth_date, avatar, school, grade
    </sql>
    <sql id="Activity_Column_List">
        `id`, title, site, number_people, deadline, introduction, organizerid, `type`, time_start, time_end, start, already_register, icon
    </sql>
    <insert id="createuser" keyColumn="id" keyProperty="id" parameterType="com.example.daruan.entity.User" useGeneratedKeys="true">
        insert into user(username,`password`)
        values(#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR})
    </insert>
    <select id="getUserInfoByAccount" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user
        where username=#{username,jdbcType=VARCHAR}
    </select>
    <select id="getUserInfoByid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user
        where id=#{id,jdbcType=INTEGER}
    </select>
    <update id="updateavatar" >
        update user
        set avatar = #{avatar, jdbcType=VARCHAR}
        where id = #{id, jdbcType=INTEGER}
    </update>
    <update id="updateuser" parameterType="com.example.daruan.entity.User">
        update user
        <set>
        <if test="username != null"> username = #{username, jdbcType=VARCHAR},</if>
        <if test="password != null"> password = #{password, jdbcType=VARCHAR},</if>
		<if test="authority != null"> authority = #{authority, jdbcType=VARCHAR},</if>
		<if test="sex != null"> sex = #{sex, jdbcType=VARCHAR},</if>
		<if test="major != null"> major = #{major, jdbcType=VARCHAR},</if>
        <if test="phone != null"> phone = #{phone, jdbcType=VARCHAR},</if>
		<if test="authority != null"> authority = #{authority, jdbcType=VARCHAR},</if>
		<if test="email != null"> email = #{email, jdbcType=VARCHAR},</if>
		<if test="birth_date != null"> birth_date = #{birth_date, jdbcType=TIMESTAMP},</if>
		<if test="avatar != null"> avatar = #{avatar, jdbcType=VARCHAR},</if>
        <if test="school != null"> school = #{school, jdbcType=VARCHAR},</if>
		<if test="grade != null"> grade = #{grade, jdbcType=VARCHAR},</if> 
        </set>
        where id = #{id, jdbcType=INTEGER}
    </update>
    <select id="userpubactivity" parameterType="java.lang.Integer" resultMap="ActivityResultMap">
    	select
        <include refid="Activity_Column_List" />
        from activity
        where organizerid=#{userid,jdbcType=INTEGER}
    </select>
    <select id="userregactid" parameterType="java.lang.Integer" resultType = "java.lang.Integer">
    	select actid
        from useractivity
        where userid=#{userid,jdbcType=INTEGER}
    </select>
    <select id="userstatistics" resultType="java.lang.Integer">
    	select count(*)
    	from user
    </select>
    <select id="usercomment" parameterType="java.lang.Integer" resultType="com.example.daruan.entity.Comment">
    select *
    from comment
    where userid=#{userid,jdbcType=INTEGER}
</select>

</mapper>