.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 90vh;
  .titleBar {
    position: sticky;
    height: 10vh;
  }
  .main {
    height: 60vh;
  }
  .bottom {
    position: fixed;
    bottom: 10vh;
    width: 70vw;
    height: 30vh;
  }
}
